# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        -32
        121
        -62
        -4
        -1
        63
        3
        94
        48
        42
        63
        -12
        -27
        1
        51
        99
        50
        90
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        1
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        64
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        120
        -62
        -52
        -64
        -16
        -1
        63
        3
        94
        48
        42
        63
        -44
        -27
        1
        -36
        -64
        50
        78
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        30
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        112
        108
        97
        110
        107
        115
        63
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        2
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        67
        22
        41
        -56
        73
        -52
        -53
        46
        -74
        47
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        -112
        121
        -62
        -4
        -1
        63
        3
        94
        48
        42
        63
        -12
        -27
        1
        81
        -45
        50
        106
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


